extends layouts/base

block style_pre
    link(rel="stylesheet", href="/stylesheets/admin/element-ui/index.css")

block body
    #APP(v-cloak)
        el-container(style="height: 100%; width: 100%;")
            el-aside#APP-ASIDE(width="200px") 
                .logo
                    img(src="/images/icon_logo_b.png", alt="华岭logo")/
                el-menu.menus(default-active='#{module}', background-color='#444546', text-color='#fff', active-text-color='#4891DD', @select="_handleMenuSelect")
                    el-menu-item(index='home')
                        i.el-icon-menu
                        span(slot='title') 首页
                    //- el-menu-item(index='manager')
                    //-     i.el-icon-document
                    //-     span(slot='title') 管理员管理
                    el-menu-item(index='news')
                        i.el-icon-setting
                        span(slot='title') 新闻管理
            el-main(style="padding: 0px; height: 100%; width: 100%;")
                el-container(style="height: 100%")
                    el-header#APP-HEADER(height="61px")
                        el-menu(mode="horizontal", @select="_handleHeaderMenu")
                            el-submenu(index="0")
                                template(slot="title") 
                                    img.pic(src="/images/admin/portrait.png", alt="头像")
                                    span #{username}
                                el-menu-item(index="0-1")
                                    i.el-icon-switch-button
                                    span 退出登录
                            el-menu-item(index="1")
                                i.el-icon-bell
                                span 消息
                    el-main#APP-MAIN(ref="view", style="height: 100%; width: 100%;")
                        case module
                            when 'home': include ./home
                            when 'manager': include ./manager/list
                            when 'news': include ./news/list
                            default: include ./home
        
block script_pre
    script(src="/javascripts/admin/elementUI.js")

block script_sub
    if(module == 'home')
        script(src="/javascripts/admin/home.js")
    if(module == 'manager')
        script(src="/javascripts/admin/manager/list.js")
    if(module == 'news')
        script(src="/javascripts/admin/news/list.js")