extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/brand.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
            #businessList
                each brand in text.brands
                    a.item(href="#{brand.link}", target="_blank")
                        .bgImg(style="background-image: url(#{brand.bg})")
                            //- img(src="#{brand.bg}", alt="华岭图片")

        include components/footer
                    
block script
    script(src="/javascripts/brand.js")
