extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/business.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text 冯氏集团业务
            p.g-normalText 冯氏集团的业务涵盖全球消费品供应链的每个环节，包括贸易、物流、分销及零售。以下提供更多有关我们旗下公司和品牌的资料。
            #businessList
                .item.business-1
                    .bgImg
                    .maskTitle
                        .text 利丰有限公司
                    .detail
                        i.icon.closeBtn &#xe65c;
                        .p.headline 利丰有限公司
                        .detailList
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_1.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_2.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_3.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_4.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_5.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_6.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_7.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                .item.business-2
                    .bgImg
                    .maskTitle
                        .text 利弘投资
                    .detail
                        i.icon.closeBtn &#xe65c;
                        .p.headline 利丰有限公司
                        .detailList
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_1.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_2.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                .item.business-3
                    .bgImg
                    .maskTitle
                        .text 利标品牌有限公司
                    .detail
                        i.icon.closeBtn &#xe65c;
                        .p.headline 利丰有限公司
                        .detailList
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_1.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_2.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                .item.business-4
                    .bgImg
                    .maskTitle
                        .text 冯氏零售集团
                    .detail
                        i.icon.closeBtn &#xe65c;
                        .p.headline 利丰有限公司
                        .detailList
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_1.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com
                            .imageText
                                .imgWrap
                                    img.pic(src="/images/bg_business_1_2.jpg", alt="图片")
                                .textWrap
                                    .title 利丰有限公司
                                    .redLine
                                    .text 全球供应链解决方案翘楚，以创造未来的供应链为目标，是国际品牌和零售商的忠实伙伴。
                                    a.website 
                                        img.icon(src="/images/icon_website.png", alt="icon")
                                        span www.lifung.com

        include components/footer
                    
block script
    script(src="/javascripts/business.js")
