extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/contact_information.css")

block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
        .maxBox                
            #map
        include components/footer

block script
    script(src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=kGdcVw7mSGgbrBFQwiqfPe3ayWfX7irn")
    script(src="/javascripts/contact_information.js")
