extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/paragraph.css")
block body
    .container
        include components/header
        .maxBox(style="padding-bottom: 30px;")
            .g-bigTitle 
                .text 合作模式

            .paragraph
                p 冯氏集团以其环球资源、专业知识和商贸网络傲视群雄，全面覆盖消费品供应链的采购、物流、分销及零售流程。
                p.h 环球供应链
                p 每年，有数以百万计的消费品经过我们的供应链开发制成。要实现这一点，我们将优秀的品牌和零售商与数千间供应商联系起来，以满足消费者的需求。通过集合全球供应链的力量，我们为客户订制符合其所需的端到端供应链及物流服务及解决方案，覆盖产品设计、合规、原材料采购、工厂选择、生产管理、物流等各个方面。
                p 在营运核心采购业务的同时，我们正在建构一个让供应链伙伴以前所未有方式连接起来的数字生态系统，超越了传统中介采购代理的角色。通过提供整全的解决方案，我们现正创造未来的供应链，朝着为合作伙伴提升速度、创新及利润的目标进发。
                img(src="/images/img_cooperation.png", alt="")
                p.h 物流
                p 我们提供首屈一指的物流服务，专门服务包括鞋类和服装、快速消费品、食品和饮料、医疗保健用品和电子产品等垂直行业的公司。通过完善的境内物流和全球货运代理服务，由货品离开工厂直至最终到达消费者手上的每个阶段，我们都提供全面妥善的综合方案。凭借集团在全球供应链累积的专业知识和商贸网络，我们为客户制定长期的合作解决方案。
                p.h 品牌与零售
                p 我们也是全球顶级品牌的首选合作伙伴，与一系列大众市场品牌及奢侈品牌紧密合作，并专注在产品设计和全球市场方面寻求突破，帮助品牌提升至更高的层次。
                p 冯氏集团对中国的消费及零售市场有深厚的认识了解，目前已于大中华地区10个市场拥有超过2,700间零售店，其中逾1,000间在中国内地。对于计划在中国或亚洲地区建立市场份额或提升市场占有率的品牌及零售商而言，冯氏集团是您首选的合作伙伴。
                p.h 投资
                p 通过冯氏家族的风险投资及投资策略部门，我们投资于不同细分市场的欧洲奢侈品牌和消费品公司，助其在大中华及亚洲市场扩展。此外，集团亦积极向有潜力影响或推进零售业、供应链及物流业未来的公司作出投资。
                p 在诚信互信、共创商机的基础上，我们力求与您建立牢固的伙伴关系。
                p 让我们携手合作，拓展您的业务。

        include components/footer
