extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/image_text.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text 核心价值
            p.g-normalText 我们是一家以目标为导向的集团，致力为业务相关社区作出有意义的贡献。我们的愿景是
                span.bold 为供应链领域所涵盖的十亿人创造更美好的生活。
            p.g-normalText 我们的企业文化和业务运作均以集团的核心价值为基础。自集团由1906年的一家二人公司起步以来，我们一直秉持着三个核心价值：

            #valueList
                .imageText
                    .imgWrap
                        img.pic(src="/images/img_core_value_1.jpg", alt="图片")
                    .textWrap
                        .title 我们是企业家
                        .redLine
                        .text 冯氏集团最初由两位企业家共同创立，采购中国本土产品，满足外部市场的客户需求，把握重大商机。同样的企业家精神到今天依然存在我们心中，并持续推动着我们支持员工、业务伙伴、客户、供应商、行业和社区的发展。
                .imageText.right
                    .imgWrap
                        img.pic(src="/images/img_core_value_2.jpg", alt="图片")
                    .textWrap
                        .title 我们谦虚踏实
                        .redLine
                        .text 我们的思维方式、商业模式及为持份者创造价值的方式在集团过去一百多年历史中，一直与世界同步，与时俱进。不论是过去或现在，冯氏集团一贯致力融入世界大局中，拥抱改变，并把握随之而来的新概念和机遇，不断茁壮发展。
                .imageText
                    .imgWrap
                        img.pic(src="/images/img_core_value_3.jpg", alt="图片")
                    .textWrap
                        .title 我们是一家人
                        .redLine
                        .text 我们珍惜彼此之间和对业务伙伴的忠诚。除了对人对事的关注，我们也十分注重共创可持续未来的能力。对冯氏集团而言，信任和诚信是集团得以持续发展的基石。我们对自己的工作感到自豪，务求为在我们业务所在的社区的带来积极而正面的影响。

        include components/footer
