extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/core_value.css")
    //- link(rel="stylesheet", href="/fonts/iconfont/iconfont.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text 核心价值
            p.g-normalText 我们是一家以目标为导向的集团，致力为业务相关社区作出有意义的贡献。我们的愿景是
                span.bold 为供应链领域所涵盖的十亿人创造更美好的生活。
            p.g-normalText 我们的企业文化和业务运作均以集团的核心价值为基础。自集团由1906年的一家二人公司起步以来，我们一直秉持着三个核心价值：

        include components/footer
                    
block script
    script(src="/javascripts/core_value.js")
