extends layouts/base

block head

block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text 发展历程
            
            img(src="/images/img_development_history.png", alt="发展历程", style="width: 100%")

        include components/footer
