extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/home.css")
    link(rel="stylesheet", href="/fonts/iconfont/iconfont.css")
block body
    .container
        include components/header
        #videoWrap
            video(src="/videos/demo.mp4", autoplay="autoplay", loop="loop", muted="muted", width="100%") 您的浏览器不支持 video 标签
        #workImgs
            .maxBox(style="max-width: 1020px")
                .imgsWrap
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_1.jpg", alt="workImg")/
                            p 携手合作 
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_2.jpg", alt="workImg")/
                            p 携手合作 
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_3.jpg", alt="workImg")/
                            p 携手合作 
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_4.jpg", alt="workImg")/
                            p 携手合作 
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_5.jpg", alt="workImg")/
                            p 携手合作 
                    .imgWrap
                        a(href="#") 
                            img(src="/images/img_work_6.png", alt="workImg")/
                            p 携手合作 
            .prevBtn
                i.icon &#xe6b1;
            .nextBtn
                i.icon &#xe6b2;
        #companyIntroduct
            .maxBox.clear(style="max-width: 1020px")
                p.text 冯氏控股（1937）有限公司总部设于香港，是一家私人全资拥有的跨国集团。集团发展历程源远流长，集团在贸易和供应链管理方面的历史可以追溯到1906年。冯氏控股亦是冯氏集团旗下公司的主要股东，集团的核心业务涵盖整个全球消费品市场的全球供应链管理，包括贸易，物流，分销和零售。
                .introductEntry.devHistory
                    img(src="/images/img_home_company_1.jpg", alt="img_home_company_1")/
                    .linkWrap
                        a(href="#") 发展历程
                .introductEntry.coreValue
                    img(src="/images/img_home_company_2.png", alt="img_home_company_1")/
                    .linkWrap
                        a(href="#") 核心价值
        #companyIntroduct_2
            .maxBox.clear
                .row.row-1
                    .imgWrap
                        img(src="/images/img_home_3.jpg", alt="img_home_3")/
                        .arrow.left
                        .linkWrap
                            a(href="#") 可持续发展
                    .contentWrap
                        .myTitle
                            .text 可持续发展
                        p.content 我们坚信集团是变革的推动者，并以对社会和环境负责的态度，在业务遍及社区的经济与社会发展方面作出有意义的贡献。
                        a.more(href="#")
                            img(src="/images/icon_plus.png", alt="+")/   
                            span 了解更多
                .row.row-2
                    .imgWrap
                        img(src="/images/img_home_4.jpg", alt="img_home_4")/
                        .arrow.right
                        .linkWrap
                            a(href="#") 人才培养
                    .contentWrap
                        .myTitle
                            .text 人才培养
                        p.content 我们的初级经理培训生计划向全球招募优秀人才，培育和发展领导才能，塑造未来领袖。
                        a.more(href="#")
                            img(src="/images/icon_plus.png", alt="+")/   
                            span 了解更多
        include components/footer
                    
block script
    script(src="/javascripts/home.js")
