extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/image_text.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text 创新
            p.g-normalText 要在瞬息万变的全球市场中保持竞争力，就必须不断努力创新。在追求创新与实验文化的过程中，我们构思各种崭新理念，培养能力，以实践出真知，最终塑造我们行业的未来。
            p.g-normalText 冯氏集团旗下的每一家公司都勇于创新，而冯氏学院也扮演着催化者的角色，以启发灵感、鼓励创新的方式，推动我们的同事在发明和探索的路上走得更快、更远。
            p.g-normalText 以下是一些以创新为重点的合作实例：

            #valueList
                .imageText
                    .imgWrap
                        img.pic(src="/images/img_innovate_1.jpg", alt="图片")
                    .textWrap
                        .title 人工智能与零售未来
                        .redLine
                        .text 冯氏零售与零售行业巨头京东正共同针对中国及亚洲市场开发全新的零售模式。该模式将利用一个人工智能驱动的零售系统，把线上及线下平台无缝结合。目前系统已经投入测试，首次将人工智能图像识别技术应用于冯氏零售OK便利店的实时结账流程。
                .imageText.right
                    .imgWrap
                        img.pic(src="/images/img_innovate_2.jpg", alt="图片")
                    .textWrap
                        .title SOFTWEAR AUTOMATION
                        .redLine
                        .text 利丰与美国公司Softwear Automation合作，为家居用品、鞋类和服装行业在制造自动化方面开发革命性的针织技术。利丰的环球供应商网络与Softwear Automation的自动化高端针织技术强强联手，创造出全数字化的服装及纺织品制造供应链。
                .imageText
                    .imgWrap
                        img.pic(src="/images/img_innovate_3.jpg", alt="图片")
                    .textWrap
                        .title THE KITCHEN
                        .redLine
                        .text 由冯氏学院策划的创意众包平台The Kitchen屡获殊荣，自2016年推出以来已有超过4,800位来自30个国家的同事在1,200多个概念项目合作。平台让我们的人员发挥创意，共同打造新理念和产品，以应对业务上的挑战。此外，我们也通过平台与客户合作，把最新颖和创新的产品概念实现于市场上。
                .imageText.right
                    .imgWrap
                        img.pic(src="/images/img_innovate_1.jpg", alt="图片")
                    .textWrap
                        .title 利程坊
                        .redLine
                        .text 利程坊是一个以环球供应链为焦点的创新中心，旨在通过学习和试验，发掘塑造未来环球供应链的理念、机遇和商业模式。目前，集团于上海和香港设立利程坊创新中心，积极与创新人员社群合作，共同建构零售业的未来面貌。
                .imageText
                    .imgWrap
                        img.pic(src="/images/img_innovate_2.jpg", alt="图片")
                    .textWrap
                        .title 程序马拉松
                        .redLine
                        .text 冯氏学院举办第二届的“Hack The Rack”程序马拉松，让创新者、机器学习专家、数据科学家、使用者体验（UX）及使用者界面（UI）设计师以及应用程序专员齐聚一堂，共创领先概念和快速原型解决方案，以解决集团业务所面对的实质性问题，例如OK便利店的客户分类、物流中的集装箱装载量估算、时装图像数字化以及工厂车间的质量管控流程。
                .imageText.right
                    .imgWrap
                        img.pic(src="/images/img_innovate_3.jpg", alt="图片")
                    .textWrap
                        .title 利洋针织以崭新CS创新实验室为针织品行业带来革新
                        .redLine
                        .text 利洋针织与日本企业岛精机共同设立CS创新实验室，进行专门面料的研发。世上最先进的计算机横编针织机正是出自岛精机。实验室将让我们在发3D和虚拟设计技能、提升设计至生产过程效率这两方面进行合作，务求发掘新理念、技术和解决方案，为顾客制作更好的面料，编织更优质的针织品。

        include components/footer
