doctype html
html
  head
    title 错误提示
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
  body(style="text-align: center;")
    h1= error.status
    h2= message
    //- pre #{error.stack}
