#FOOTER
    .maxBox
        span Copyright © 2020 Welon China Ltd. All rights reserved.
        br.br
        a(href="/group_business/#{lang}") 关于我们
        a(href="/contact_information/#{lang}") 联络我们