div#HEADER
    .maxBox
        .top
            img.logo(src="/images/icon_logo_w.png", alt="logo")
            .langSwitcher
                a EN
                a 繁體
                a 简体
            .menuEntry_mobile
                i.icon.list &#xe602;
                i.icon.close &#xe65c;
        .nav
            .menu
                .mainMenu 集团简介
                    i.icon.arrow &#xe60c;
                .subMenus
                    .subMenu
                        a(href="#") 集团业务
                    .subMenu 
                        a(href="#")核心价值
                    .subMenu 
                        a(href="#")发展历程
                    .subMenu 
                        a(href="#")管理团队
            .menu
                .mainMenu 我们的业务
                    i.icon.arrow &#xe60c;
                .subMenus
                    .subMenu
                        a(href="#") 集团业务
                    .subMenu 
                        a(href="#")核心价值
                    .subMenu 
                        a(href="#")发展历程
                    .subMenu 
                        a(href="#")管理团队
            .menu
                .mainMenu 可持续发展
                    i.icon.arrow &#xe60c;
                .subMenus
                    .subMenu
                        a(href="#") 集团业务
                    .subMenu 
                        a(href="#") 安全公平的工作环境
                    .subMenu 
                        a(href="#")发展历程
                    .subMenu 
                        a(href="#")管理团队
            .menu
                .mainMenu 发掘更多
                    i.icon.arrow &#xe60c;
                .subMenus
                    .subMenu
                        a(href="#") 集团业务
                    .subMenu 
                        a(href="#")核心价值
                    .subMenu 
                        a(href="#")发展历程
                    .subMenu 
                        a(href="#")管理团队
            .menu
                .mainMenu 最新消息
                    i.icon.arrow &#xe60c;
                .subMenus
                    .subMenu
                        a(href="#") 集团业务
                    .subMenu 
                        a(href="#")核心价值
                    .subMenu 
                        a(href="#")发展历程
                    .subMenu 
                        a(href="#")管理团队