@import './util.less';
@import './init.less';

.maxBox{
    margin: 0px auto;
    max-width: 1000px;
    width: 100%;
    .clear;
}

#HEADER{
    padding: 18px 18px 0px 18px;
    .top{
        text-align: center;
        img{
            height: 40px;
        }
        .langSwitcher{
            position: absolute;
            right: 5px;
            top: 5px;
            white-space: nowrap;
            a{
                font-size: 16px;
                letter-spacing: 1.6px;
                padding: 0px 8px;
                color: @gray;
                text-decoration: none;
                &.current{
                    color: @highlight;
                }
                &:hover{
                    cursor: pointer;
                    color: @highlight;
                }
            }
        }
        .menuEntry_mobile{
            position: absolute;
            display: none;
            padding: 10px 10px;
            right: 10px;
            top: -9px;
            i{
                font-size: 24px;
                color: #333;
                line-height: 1;
                &.close{
                    display: none;
                }
                &:hover{
                    color: @highlight;
                    cursor: pointer;
                }
            }
            &.open{
                i.list{
                    display: none;
                }
                i.close{
                    display: block;
                }
            }
        }
    }
    .nav{
        margin-top: 15px;
        text-align: center;
        .menu{
            display: inline-block;
            vertical-align: top;
            height: 44px;
            line-height: 40px;
            padding: 0px 25px;
            .mainMenu{
                font-size: 16px;
                color: @gray;
                &:hover{
                    color: @highlight;
                    cursor: pointer;
                }
                .arrow{
                    display: none;
                }
            }
            .subMenus{
                position: absolute;
                top: 44px;
                z-index: 1;
                background-color: rgba(210, 210, 210, 0.9);
                padding: 0px 6px;
                display: none;
                .subMenu{
                    border-bottom: 1px solid #fff;
                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        display: block;
                        line-height: 45px;
                        padding: 0px 20px;
                        font-size: 16px;
                        color: darken(@gray, 10%);
                        white-space: nowrap;
                        &:hover{
                            color: @highlight;
                            cursor: pointer;
                        }
                    }
                }
            }
            &.current{
                .mainMenu{
                    color: @highlight;
                }
            }
        }
        .langSwitcher{
            padding: 15px 0px;
            display: none;
            a{
                display: inline-block;
                color: @gray;
                padding: 0px 10px;
                font-size: 16px;
                &.current{
                    color: @highlight;
                }
                &:hover{
                    color: @highlight;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    #HEADER{
        padding: 12px 0px;
        height: 50px;
        .maxBox{
            height: 100%;
            .top{
                height: 100%;
                img{
                    height: 100%;
                }
                .menuEntry_mobile{
                    display: block;
                }
                .langSwitcher{
                    display: none;
                }
            }
            .nav{
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 50px;
                bottom: 0px;
                z-index: 99;
                margin: 0px;
                background-color: rgba(244, 244, 244, 0.98);
                .menu{
                    display: block;
                    width: 100%;
                    height: auto;
                    padding: 0px;
                    .mainMenu{
                        height: 56px;
                        line-height: 56px;
                        width: 100%;
                        border-bottom: 2px solid #fff;
                        letter-spacing: 1px;
                        display: block;
                        .arrow{
                            display: inline-block;
                            margin-left: 7px;
                            font-size: 12px;
                            line-height: 1;
                            vertical-align: middle;
                            top: -2px;
                            color: lighten(@gray, 20%);
                        }
                        &.open{
                            color: @highlight;
                            .arrow{
                                color: @highlight;
                                .transform(rotate(180deg));
                            }
                        }
                        &:hover{
                            background-color: #ddd;
                            .arrow{
                                color: @highlight
                            }
                        }
                    }
                    .subMenus{
                        position: relative;
                        display: none;
                        top: 0px;
                        padding: 0px;
                        background-color: rgba(235, 235, 235, 0.98);
                        .subMenu{
                            border-bottom: 1px solid #999; 
                            a{
                                height: 56px;
                                line-height: 56px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
                &.show{
                    display: block;
                    .langSwitcher{
                        display: block;
                    }
                }
            }
        }
    }
}


#FOOTER{
    height: 50px;
    background-color: #e30917;
    text-align: center;
    padding: 15px 0px;
    color: #fff;
    font-size: 13px;
    span{
        font-weight: normal;
        margin-right: 10px;
    }
    .br{
        display: none;
    }
    a{
        font-weight: normal;
        padding: 0px 10px;
        display: inline-block;
        border-left: 1px solid #fff;
        height: 14px;
        line-height: 14px;
        color: #fff;
        &:hover{
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 650px) {
    #FOOTER{
        height: auto;
        .br{
            display: block;
        }
        a{
            margin-top: 12px;
            border-right: 1px solid #fff;
            border-left: none;
            &:last-child{
                border-right: none;
            }
        }
    }
}

.g-bigTitle{
    text-align: center;
    .text{
        font-size: 20px;
        padding:  12px 15px;
        line-height: 1;
        min-width: 230px;
        border: 3px solid @gray;
        display: inline-block;
        font-weight: bolder;
        color: @gray;
    }
    margin: 40px 0px;
}
.g-normalText{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 20px;
    line-height: 30px;
    margin-bottom: 15px;
    display: block;
    color: @gray;
    .bold{
        font-weight: bold;
    }
    &.center{
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .g-bigTitle{
        .text{
            font-size: 20px;
            padding: 10px 13px;
            min-width: 210px;
            border-width: 2px;
        }
    }
}