@import './util.less';


#contactUs{
    width: 94%;
    margin: 0px auto;
    height: 420px;
    border: 2px solid #d3d6d7;
    margin-bottom: 60px;
    .clear;
    .boxShadow(0px 2px 5px #e7e7e7);
    .left{
        height: 100%;
        width: 40%;
        float: left;
        padding: 20px 20px 0px 80px;
        p{
            display: block;
            line-height: 20px;
            color: @gray;
            font-size: 14px;
            margin: 12px 0px;
            color: #444;
            word-break: break-all;
            &.label{
                font-size: 14px;
                margin: 40px 0px;
                font-weight: 300;
            }
            img{
                position: absolute;
                left: -40px;
                height: 22px;
                top: 0px;
            }
        }
    }
    .right{
        height: 100%;
        width: 60%;
        float: left;
    }
}

#map{
    height: 100%;
    width: 100%;
}

#gotoWelon{
    position: absolute;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    .animation(.3s);
    .radius(100px);
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
    }
    img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: 13px;
    }

}


@media screen and (max-width: 650px) {
    #contactUs{
        width: 100%;
        height: auto;
        border: none;
        margin-bottom: 0px;
        .boxShadow(none);
        .left,
        .right{
            width: 100%;
        }
        .left{
            padding: 0px 20px 40px 20px;
            text-align: center;
            p{
                margin: 0px;
                &.label{
                    margin: 0px;
                    font-size: 15px;
                }
                &.phone,
                &.email,
                &.address{
                    padding-top: 60px;
                    img{
                        top: 30px;
                        left: 0px;
                        right: 0px;
                        margin: auto;
                    }
                }
                &.email{
                    margin-bottom: 40px;
                }
            }
        }
    }
    #map{
        height: 300px;
    }
}