@import './init.less';
#videoWrap{
    video{
        display: block;
        z-index: 0;
    }
}

#workImgs{
    padding-top: 30px;
    padding-bottom: 30px;
    .clear;
    .imgsWrap{
        .clear;
        width: 100%;
        .noSelect;
        .imgWrap{
            width: 33.3333%;
            max-width: 600px;
            float: left;
            padding: 10px;
            .noSelect;
            a{
                display: block;
                img{
                    width: 100%;
                    .noSelect;
                }
                p{
                    font-size: 16px;
                    color: @gray;
                    margin-top: 5px;
                    text-align: center;
                    font-weight: 300;
                }
                &:hover{
                    p{
                        color: @highlight;
                    }
                }
            }
        }
    }
    .prevBtn,
    .nextBtn{
        display: none;
        padding: 15px;
        text-align: center;
        line-height: 1;
        position: absolute;
        bottom: 18px;
        color: @highlight;
        cursor: pointer;
        i{
            font-size: 22px;
            display: block;
            line-height: 1;
        }
    }
    .prevBtn{
        left: 10px;
    }
    .nextBtn{
        right: 10px;
    }
}
@media screen and (max-width: 650px) {
    #workImgs{
        padding-bottom: 30px;
        .imgsWrap{
            .clear;
            width: 9000px;
            .imgWrap{
                width: 300px;
                padding: 0px;
                &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(255, 255, 255, 0.6);
                    .opacity(1);
                    .animation(.3s);
                }
                a{
                    p{
                        font-size: 18px;
                        margin-top: 10px;
                    }
                }
                &.current{
                    &:after{
                        .opacity(0);
                    }
                }
            }
        }
        .prevBtn,
        .nextBtn{
            display: inline-block;
        }
    }
}


#companyIntroduct{
    padding-bottom: 45px;
    background-color: #f2f4f6;
    p.text{
        display: block;
        margin: 0px auto;
        padding: 38px 20px;
        width: 100%;
        max-width: 900px;
        font-weight: 300;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;
        color: #222;
    }
    .introductEntry{
        width: 50%;
        padding: 0px 10px;
        float: left;
        img{
            display: block;
            width: 100%;
        }
        .linkWrap{
            position: absolute;
            left: 10px;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            // background-color: rgba(0, 0, 0, 0.1);
            a{
                position: absolute;
                white-space: nowrap;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                margin: auto;
                border: 3px solid #fff;
                width: 240px;
                height: 52px;
                line-height: 45px;
                color: #fff;
                font-size: 20px;
                font-weight: 300;
                text-align: center;
                background-color: rgba(50, 50, 50, 0.4);
            }
        }   
    }
}
@media screen and (max-width: 650px) {
    #companyIntroduct{
        padding-bottom: 15px;
        p.text{
            padding-bottom: 20px;
        }
        .introductEntry{
            width: 100%;
            padding: 10px 20px;
            .linkWrap{
                left: 20px;
                right: 20px;
                top: 10px;
                bottom: 10px;
            }
        }
    }
}

#companyIntroduct_2{
    // margin-bottom: 30px;
    .row{
        .clear;
        .imgWrap{
            float: left;
            width: 50%;
            // height: 300px;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
            }
            .arrow{
                position: absolute;
                z-index: 20;
                top: 30px;
                &.left{
                    right: 0px;
                    width: 0px;
                    height: 0px;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-right: 40px solid #fff;
                }
                &.right{
                    left: 0px;
                    width: 0px;
                    height: 0px;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 40px solid #fff;
                }
            }
            .linkWrap{
                position: absolute;
                left: 10px;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                display: none;
                a{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    border: 3px solid #fff;
                    min-width: 240px;
                    height: 52px;
                    line-height: 45px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: center;
                    background-color: rgba(50, 50, 50, 0.4);
                }
            }   
        }
        .contentWrap{
            width: 50%;
            float: left;
            padding: 50px 40px;
            .myTitle{
                text-align: center;
                .text{
                    display: inline-block;
                    min-width: 240px;
                    height: 50px;
                    color: @gray;
                    font-size: 22px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 1;
                    padding: 12px;
                    border: 3px solid @gray;
                }
            }
            p.content{
                display: block;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 1px;
                color: @gray;
                margin-top: 20px;
            }
            a.more{
                display: inline-block;
                margin-top: 20px;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    top: 1px;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    font-weight: 300;
                    color: @gray;
                    margin-left: 5px;
                }
                &:hover{
                    span{
                        color: @highlight;
                    }
                }
            }
        }
        &.row-2{
            .imgWrap,
            .contentWrap{
                float: right;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    #companyIntroduct_2{
        margin-bottom: 40px;
        .row{
            .imgWrap{
                width: 100%;
                padding: 20px;
                padding-bottom: 0px;
                .arrow{
                    display: none;
                }
                .linkWrap{
                    display: block;
                    a{
                        width: 240px;
                    }
                }
            }
            .contentWrap{
                width: 100%;
                padding: 20px;
                padding-bottom: 10px;
                .myTitle{
                    display: none;
                }
                p.content{
                    margin-top: 0px;
                }
                a.more{
                    margin-top: 15px;
                }
            }
        }
    }
}