@import './util.less';

.paragraph{
    p{
        font-size: 16px;
        letter-spacing: 1px;
        padding: 0px 20px;
        line-height: 30px;
        margin-bottom: 14px;
        color: @gray;
    }
    .h{
        font-size: 18px;
        color: @highlight;
        margin-top: 20px;
        margin-bottom: 18px;
        line-height: 26px;
        font-weight: 300;
    }
    .b{
        font-weight: bolder;
    }
    .indent-2{
        text-indent: 2em;
    }
    .indent-4{
        text-indent: 4em;
    }
    img{
        width: 100%;
        margin: 20px 0px;
    }
}