@import './util.less';
#businessList{
    .item{
        &.business-1{
            .bgImg{
                background-image: url(/images/bg_business_1.png);
            }
            background-image: url(/images/bg_business_1_open.jpg);
        }
        &.business-2{
            .bgImg{
                background-image: url(/images/bg_business_2.png);
            }
            background-image: url(/images/bg_business_2_open.jpg);
        }
        &.business-3{
            .bgImg{
                background-image: url(/images/bg_business_3.png);
            }
            background-image: url(/images/bg_business_3_open.jpg);
        }
        &.business-4{
            .bgImg{
                background-image: url(/images/bg_business_4.png);
            }
            background-image: url(/images/bg_business_4_open.jpg);
        }
        &.business-5{
            .bgImg{
                background-image: url(/images/bg_business_5.png);
            }
            background-image: url(/images/bg_business_5_open.jpg);
        }
        &.business-6{
            .bgImg{
                background-image: url(/images/bg_business_6.png);
            }
            background-image: url(/images/bg_business_6_open.jpg);
        }
        &.business-7{
            .bgImg{
                background-image: url(/images/bg_business_7.png);
            }
            background-image: url(/images/bg_business_7_open.jpg);
        }
    }
}